<meta charset="UTF-8">
<title>Ecommerce backend</title>

<script src="https://kit.fontawesome.com/468db697a3.js" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<%- include('./style.ejs'); %>
<style>
  body {
    padding-top: 24px;
  }
</style>
