<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main class="container mainContainer">
        <% if(sessionName) { %>
            <div>
                <h1>Bienvenido <%= sessionName %></h1>
                <form action="/api/logout" method="get"><input type="submit" value="Logout" class="btn btn-danger"></form>
            </div>
        <% } %>
        <h2>Hola developer</h2>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>