<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <div class="jumbotron">
            <% if(sessionName) { %>    
                <h1><%= sessionName %></h1>
                <form action="/api/logout" method="get"><input type="submit" value="Logout" class="btn btn-danger"></form>
            <% } %>
            
            <h2>Login</h2>
            <form action="/api/login" method="post" >
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" name="email" placeholder="Ingrese su email"
                        id="email">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" name="password" placeholder="Ingrese su contraseña"
                        id="password">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
        
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>


</body>

</html>