<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <div class="jumbotron">            
            <h2>Register</h2>
            <form action="/api/registrar"  method="post"  enctype="multipart/form-data"> 
                <div class="mb-3">
                    <label for="username" class="form-label">Nombre</label>
                    <input type="text" class="form-control" name="username" placeholder="Ingrese su nombre" id="username">
                </div>
                <div class="mb-3">
                    <label for="age" class="form-label">Edad</label>
                    <input type="number" class="form-control" name="age" placeholder="Ingrese su edad" id="age">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" name="email" placeholder="Ingrese su email"
                        id="email">
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Direccion</label>
                    <input type="text" class="form-control" name="address" placeholder="Ingrese su direccion"
                        id="address">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" name="password" placeholder="Ingrese su contraseña"
                        id="password">
                </div>



                <div class="mb-3">
                    <label for="tel" class="form-label">Numero de telefono</label>
                    <input type="tel" class="form-control" name="tel" placeholder="Ingrese su numero de telefono"
                        id="tel">
                </div>
                <div class="mb-3">
                    <label for="avatar" class="form-label">Avatar</label>
                    <input type="file" class="form-control" name="avatar" placeholder="Ingrese su avatar"
                        id="avatar">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
        
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>


</body>

</html>